<label class="{{_labelClass}}">
  <span class="offlabel">{{offLabel}}</span>
  {{input type="checkbox" disabled=disabled checked=isSelected}}
  <span class="lever"></span>
  <span class="onlabel">{{onLabel}}</span>
</label>
<!-- move to bottom and changed to label for appropriate automatic styling-->
<label class="switch-label materialize-selectable-item-label active">{{name}}</label>